*~
/scala/scalatra_for_dummies/project/target
/scala/scalatra_for_dummies/target
/java/*/.classpath
/java/*/.project
/java/*/.settings
/java/*/target
/prolog/httpd.log
.idea/
extreme_startup_servers.iml
java/jetty/.idea/
java/jetty/extreme-startup.iml
javascript/express/.idea/
